.card-body {
    background-color: rgb(21, 131, 126);
}
.container{
    background-color: rgb(220, 235, 245);
}
.vh-100{background-color:  rgb(21, 131, 126) ;

}
.gradient-custom {
    /* fallback for old browsers */
    background: #11b2cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,  rgb(220, 235, 245),  rgb(220, 235, 245))
    }